/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in the project.
*/

.font--color--primary {
  color: #222222;
}

.font--color--second {
  color: #767676;
}


.--yellow {
  color: #EEBA36;
}

/******************************************************************************
**************                  SIZE                        *******************
******************************************************************************/
.font--size--XL {
  font-size: 6.25rem;
}

.font--size--1XL {
  font-size: 4.375rem;
}

.font--size--L {
  font-size: 2.188rem;
}

.font--size--LM {
  font-size: 1.625rem;
}

.font--size--SLM {
  font-size: 1.375rem;
}

.font--size--M {
  font-size: 1.125rem;
}

.font--size--SM {
  font-size: 1rem;
}

.font--size--S {
  font-size: 0.875rem;
}

.font--size--XS {
  font-size: 0.813rem;
}

/******************************************************************************
**************                  WEIGHT                        *******************
******************************************************************************/
.--big--bold {
  font-weight: 700;
}

.--bold {
  font-weight: 600;
}

.--light {
  font-weight: 400;
}

.--uppercase {
  text-transform: uppercase;
}



/******************************************************************************
****************                container             *************************
******************************************************************************/

.container {
  margin: 0 20%;
}

/******************************************************************************
*******************                body             ***************************
******************************************************************************/
body {
  margin: 0;
  font-family: 'Arial';
}

/******************************************************************************
*****************              nav                           ******************
******************************************************************************/
header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 1px;
  border-bottom-style: solid;
  border-color: black;
}

header div {
  display: flex;
  flex-direction: row;
}


.navigation {
  display: flex;
  flex-direction: row;
}

.main__navigation {
  width: 70%;
}

.log__navigation {
  width: 50%;
  justify-content: flex-end;
}

.navigation a+a {
  margin-left: 5%;
}

/******************************************************************************
main
******************************************************************************/
h1 {
    text-align: center;
}

form {
  text-align: center;
}


/*******************************************************************************
link
*******************************************************************************/
a, a:visited {
  color: #363636;
  text-decoration: none;
}

a:hover {
  color: #8c8c8c;
}

/*******************************************************************************
input
*******************************************************************************/


.input {
  width: 50%;
  padding: 10px 10px;
}

.button {
  margin-top: 20px;
  padding: 5px 20px;
}

.input__question {
  margin: auto;
  margin-top: 20px;
  width: 50%;
}

textarea {
  width: 100%;
}

fieldset {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.input+.input {
  margin-top: 20px;
}
